:root {
  color-scheme: dark;
}

html {
  background: #131516;
  color: #d8d4cf;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 50px;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.inputs {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 215px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  column-gap: 5px;
}

.input_name {
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #2387FF;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1px;
  padding-left: 5px;
}

.input_value {
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #d8d4cf;
  font-size: 15px;
  padding: 0 10px;
  background: #1d2021;
  border: none;
}

.share_code_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}

.share_code_wrapper > .input_value {
  width: calc(100% - 5px - 30px);
}

.share_code_button {
  height: 12px;
  min-width: 12px;
  width: 12px;
  padding: calc((30px - 12px) / 2);
  background: #4c4c62;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 100ms ease-in-out;
}

.share_code_button:hover {
  cursor: pointer;
  background: #303093;
}