.modal_container {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 90%);
    z-index: 10000;
}

.modal_wrapper {
    min-height: 50%;
    max-height: 50%;
    width: 50%;
}

.modal {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.modal_header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 10px 10px;
    font-weight: bold;
    font-size: 20px;
}

/* stack-overflow style */
.modal code {
    height: 100%;
    width: 100%;
    background: #1d2021;
    border-radius: 5px;
    padding: 12px;
    font-family: "Cascadia Mono", sans-serif;
    font-size: 13px;
    line-height: calc((13 + 4) / 13);
    white-space: pre-line; /* allow for multiline (\n) */
    overflow-y: auto;
}