.table {
    flex: 1; /* fill remaining space */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    row-gap: 2px;
    overflow-y: scroll;
}

.item {
    min-height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item_input {
    flex: 1; /* fill remaining space */
    height: 100%;
    color: #d8d4cf;
    font-size: 15px;
    padding: 0 10px;
    margin-right: 5px;
    background: #1d2021;
    border: none;
}

.item_delete {
    height: 100%;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #793030;
    transition: all 100ms ease-in-out;
}

.item_delete:hover {
    cursor: pointer;
    background: #490b0b;
}

.item_delete img {
    height: 45%;
    width: 45%;
    filter: invert();
}

.add {
    font-weight: bold;
    background: #246c24;
    transition: all 100ms ease-in-out;
}

.add:hover {
    cursor: pointer;
    background: #0a440a;
}